body, html {
    width: 600px;
    margin: auto auto;
    font-family: Smythe;
    position: relative;
    /* overflow: hidden; */
}

header {
    position: relative;
    width: inherit;
    height: 200px;
}

.header-img {
    width: 600px;
    height: inherit;
}

.heading {
    font-family: Smythe;
    position: absolute;
    top: 30px;
    left: 46px;
    color: #FFFFFF;
    font-weight: 400;
    width: 300px;
}

h1 {
    width: inherit;
    font-size: 49px;
    line-height: 24px;
    letter-spacing: 0%;
    font-weight: 400;
    margin-bottom: 0px;
}

h2 {
    width: inherit;
    margin-top: 25px;
    font-size: 22.42px;
    line-height: 13.8px;
    letter-spacing: 0%;
    font-weight: 400;
}

.item-container {
    width: 510px;
    margin: auto auto;
    margin-top: 30px;
    height: 150px;
    border-bottom: 1px solid #D2D2D2;
}

.item {
    display: flex;
    gap: 30px;
    height: 90px;
    padding: 7px;
}

.item-details {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-wrap: break-word; /* Allows long words to break onto the next line */
    overflow-wrap: break-word;
}

.item-name {
    color: #000000;
    font-weight: 400;
    font-size: 28px;
    line-height: 16.8px;
    letter-spacing: 0%;
}

.item-ingredients {
    color: #8B8B8B;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

.item-price{
    color: #000000;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 49.53px; 
    height: 48.4px;
    border: 1.5px solid #DEDEDE;
    border-radius: 50%;
}

.add-btn {
    color: #3C3C3C;
    font-family: Inter;
    font-weight: 200;
    font-size: 32px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}

.btn-container:hover {
    cursor: pointer;
}

.orders {
    width: 510px;
    margin: auto auto;
    margin-top: 30px;
    border-bottom: 1px solid #D2D2D2;
}

.orders-container {
    margin: 0px 30px;
}

.order-heading {
    text-align: center;
    font-family: Smythe;
    font-weight: 400;
    font-size: 28px;
    line-height: 16.8px;
    letter-spacing: 0%;
    margin-bottom: 40px;
}

.order-items {
    display: flex;
    flex-direction: column;
}

.order-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.order-name {
    color: #000000;
    font-weight: 400;
    font-size: 28px;
    line-height: 16.8px;
    letter-spacing: 0%;
    flex: 1;
}

.remove-btn {
    font-family: Verdana;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #BBBBBB;
}

.order-quantity{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    flex: 1;
}

.quantity {
    width: 30px;
    padding: 4px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    font-size: 14px;
    box-sizing: border-box;
    cursor: text;
    text-align: center;
}

.quantity-btn {
    font-family: Inter;
    width: 26px;
    height: 26px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-price {
    color: #000000;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    flex: 0.5;
    text-align: right;
}

.total {
    border-top:2px solid #393333;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}
.total-text {
    font-family: Smythe;
    font-weight: 400;
    font-size: 28px;
    line-height: 24px;
    letter-spacing: 0%;
}

.total-price {
    font-family: Smythe;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
}

.checkout-card {
    display: block;
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 0px 20px 20px 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 20px 60px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.checkout-card h2 {
    text-align: center;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
input[type="text"], input[type="password"], input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #16DB99;
    font-weight: 700;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
input[type="submit"]:hover {
    background-color: #45a049;
}

.form-close-btn{
    color:#BBBBBB;
    text-align: right;
}

.form-close-btn:hover{
    color: black;
    cursor: pointer;
}